@font-face {
    font-family: 'Univers';
    src: url(font/UniversLTStdCn.otf);
}

body           { font-family: 'Univers', san-serif; }
header         { text-align: center; margin-top: 30px;}
h4             { margin-bottom: 5px; margin-top: 30px; font-size: 17px;}
a              { text-decoration: none; }
hr             { width: 20px; border-color: #000; display: inline-block;
                margin-top: 10px; margin-bottom: 13px;}

#header-left   { position: relative; text-align: left; color: #000; left: -120px;
                top: -135px;}
#header-left h1 { font-size: 21px; font-weight: bold; margin: 0;}
#header-left span { font-size: 19px;}
.page          { margin: auto; width: 800px; border-bottom: 1px solid #000; 
                padding-bottom: 60px;}
.navigation    { font-size: 19px; width: 800px; border-bottom: 1px solid #000; padding-bottom: 6px;  
                padding-top: 25px;}
.navigation a  { margin-right: 74px; color: #000;}
.navigation a:last-child { margin-right: 0px; margin-left: 3px;}
.content span  { display: block; margin-bottom: 5px;}
.content span:last-child { margin-top: 40px;}
.content a     { color: #000;}
#copyright     { color: rgba(73, 72, 72, 0.7); position: relative; left: -120px; 
                top: 76px; font-size: 14px;}

.active_link   { text-decoration: line-through; }
.active_link.red { color: rgba(234, 0, 1, 0.7);}
.active_link.blue { color: rgba(132, 206, 208, 0.7);}
.active_link.yellow { color: rgba(255, 236, 71, 0.7);}
.active_link.pink { color: rgba(247, 171, 202, 0.7);}
.active_link.brown { color: rgba(236, 214, 193, 0.7);}
.active_link.black { color: rgba(73, 72, 72, 0.7);}

#loginform     { margin: 200px auto; width: 350px; font-size: 30px;}
#loginform input { height: 30px; width: 200px; font-size: 25px;}
#username input { background-color: #CBC9C9; border: none; }
#password      {margin-top: 10px;}
#password input { margin-left: 3px; background-color: #CBC9C9; border: none;}
#loginform #loginbutton {width: 60px; background-color: #CBC9C9; margin-top: 10px;
                height: 40px; padding-left: 0px; border-color: #CBC9C9; font-size: 20px;
                border-style: solid;}

#contact-last  { margin-top: 30px; }

#bureau_description {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 32px;
}

#biography {
	margin-top: 0;
	margin-bottom: 0;
}



.button_div_1 {
	height:24px;
	width:24px;
	position:absolute;
	margin:0px;
	padding:0px;
}
.delete_painting_button {
	background: url('img/Cancel_b.png') no-repeat;
	opacity:0.5;
	right:10px;
	top:10px;
}
.edit_painting_button {
	background: url('img/Write_b.png') no-repeat;
	opacity:0.5;
	right:35px;
	top:10px;
}
.add_painting_button {
	background: url('img/Plus_b.png') no-repeat;
	opacity:0.5;
	bottom:0px;
	left:50%;
}
.delete_post_button {
	background: url('img/Cancel_b.png') no-repeat;
	opacity:0.5;
}
.edit_post_button {
	background: url('img/Write_b.png') no-repeat;
	opacity:0.5;
}
.add_post_button {
	background: url('img/Plus_b.png') no-repeat;
	opacity:0.5;
	bottom:0px;
	left:50%;
}

.delete_painting_button:hover {
	opacity: 1;
}
.edit_painting_button:hover {
	opacity: 1;
}
.add_painting_button:hover {
	opacity: 1;
}
.delete_post_button:hover {
	opacity: 1;
}
.edit_post_button:hover {
	opacity: 1;
}
.add_post_button:hover {
	opacity: 1;
}

.image_container {
	height:240px;
	width:240px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
	border: 1px solid black;
	margin:10px;
	float:left;
	position:relative;
}

.image_container a {
	display:block;
	opacity:0;
	width:240px;
	height:200px;
	text-align:center;
	padding-top:30px;
	overflow:hidden;
}

.overlay {
	height:240px;
	width:240px;
	background-color:white;
	opacity:0;
}

.overlay:hover {
	opacity:0.65;
}

.overlay:hover a {
	opacity:1;
}

#paintings {
	overflow: hidden;
	list-style-type: none;
	padding: 0;
}

#posts {
	overflow: hidden;
	list-style-type: none;
	padding: 0;
}

#new_paintings {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	border: solid #000 1px;
}

#wrapper {
	position:relative;
}

#main {
	height:500px;
	overflow:hidden;
}

#description_container {
	position:absolute;
	left:-120px;
	width:120px;
	text-align: left;
	overflow:hidden;
}

.ui-dialog {
	background:white;
	padding: 10px;
	border: 2px solid black;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.ui-widget-overlay { 
	position: fixed; 
	background: gray;
	opacity: 0.5;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

form div {
	margin-bottom: 10px;
}

.ui-dialog input[type='text'], .ui-dialog textarea  {
	width: 493px;
}

.ui-dialog textarea {
	height:100px;
}

.ui-dialog input[type='submit'] {
	text-align:center;
	margin:0px auto;
}


/*

<img src="{{ url_for('static', filename=painting.my_thumbnail_path()) }}" alt={{ painting.title }} />
.delete_painting_button:hover {
	background: url('img/Cancel_d') no-repeat;
}
.edit_painting_button:hover {
	background: url('img/Write_d') no-repeat;
}
#add_painting_button:hover {
	background: url('img/Plus_d') no-repeat;
}
.delete_post_button:hover {
	background: url('img/Cancel_d') no-repeat;
}
.edit_post_button:hover {
	background: url('img/Write_d') no-repeat;
}
#add_post_button:hover {
	background: url('img/Plus_d') no-repeat;
}*/
