{% extends "layout.html" %}
{% block body %}
    <div class="content">
        <h4>THE BUREAU</h4>
        <p id="bureau_description">
            We are a design bureau based in Bern and Lucerne. Collaboration is an important part of our idea - we are working with people from different backgrounds like film production, photography, fashiondesign, theater, acting, music and others. Our focus is on visual communication and the creation of brand design.
        </p>

        <h4>MY BIOGRAPHY</h4>
        <p id="biography">
            Anice studied Science of Media- and Communication at the University of Fribourg. After completed the Vorkurs B:B (preliminary course) at the Schule für Gestaltung Bern, she is studying Graphic Design at the Hochschule Luzern.
        </p>
    </div>
{% endblock %}
