{% extends "layout.html" %}
{% block body %}

    <div class="content">
        <h4>CONTACT</h4>
        <span>Anice Grossenbacher</span>
        <span>Design & Art</span>
        <hr>
        <span>Morillonstrasse 28</span>
        <span>CH - 3007 Bern</span>

        <h4>PHONE</h4>
        <span>+41 (0) 79 735 71 56</span>

        <h4>EMAIL</h4>
        <span>
            <a href="mailto:anice.grossenbacher@gmail.com">anice.grossenbacher@gmail.com</a></span>

        <span id="contact-last">Contact me for comissioned work.</span>
    </div<
{% endblock %}
