{% import 'macros.html' as macro with context %}
<!doctype html>
<html>
<head>
    <title>ANICE GROSSENBACHER</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.9.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='cubics.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='ajax.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery-ui-1.10.1.custom.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.form.js') }}"></script>
</head>

<body>
    <script>
        $(document).ready(function() {
            draw_cubic({{ site }});
        });
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $LOGGED_IN = '{{ session.logged_in == True }}';
    </script>

    <div class="page">
        <header>
            <a href="{{ url_for("index") }}">
                <canvas id="cubic" width="130" height="148"></canvas>
                <div id="header-left">
                    <h1>ANICE GROSSENBACHER</h1>
                    <span>DESIGN & ART</span>
                </div>
                    {% if session.logged_in %}
                 <a href="{{ url_for('logout') }}" style="position:absolute;top:50px;right:100px;">logout</a>
                {% endif %}
            </a>
        </header>
       
        <div class="navigation">
            {{ macro.nav_link('portfolio', 'PORTFOLIO', 'red') }}
            {{ macro.nav_link('work', 'WORK', 'blue') }}
            {{ macro.nav_link('sketches', 'SKETCHES', 'yellow') }}
            {{ macro.nav_link('blog', 'BLOG', 'pink') }}
            {{ macro.nav_link('about', 'ABOUT', 'brown') }}
            {{ macro.nav_link('contact', 'CONTACT', 'black') }}
        </div>

        <div class=metanav>

    </div>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    
    <div id="wrapper">
<div id="description_container"></div>
<div id="main">
        {% block body %}

        {% endblock %}
    </div>
</div>

        <footer>
            <div id="copyright">&copy; 2013</div>
        </footer>
    </div>
</body>
</html>
