{% macro nav_link(endpoint, name, color) %} 
    {%- if url_for(endpoint) == request.script_root + request.path -%} 
        <a class="active_link {{color}}" href="{{ url_for(endpoint) }}">{{ name }}</a> 
    {%- else -%} 
        <a href="{{ url_for(endpoint) }}">{{ name }}</a> 
    {%- endif -%} 
{% endmacro %}

{% macro add_post(post, form) -%}
		<div class="add_post_div" style='display:none'>
			<form id=add_post_form>
				<div>{{ form.title.label }} {{ form.title }}</div>
				<div>{{ form.text.label }} {{ form.text }}</div>
				<div>{{ form.submit(class='submit_post') }}</div>
				<div>{{ form.hidden_id() }}</div>
			</form>
		</div>
{% endmacro %}

{% macro add_painting(painting, form) -%}
		<div class="add_painting_div" style='display:none' enctype=multipart/form-data>
			<form id=add_painting_form>
				<div>{{ form.title.label }}<br />{{ form.title }}</div>
				<div>{{ form.media.label }}<br />{{ form.media }}</div>
				<div>{{ form.filename.label }}<br />{{ form.filename }}</div>
				<div>{{ form.short_description.label }}<br />{{ form.short_description }}</div>
				<div>{{ form.description.label }}<br />{{ form.description }}</div>
				<div>{{ form.submit(class='submit_painting') }}</div>
				<div>{{ form.hidden_id() }}</div>
			</form>
		</div>
{% endmacro %}

{% macro show_painting(painting, logged_in=false) -%}
	<li class="image_container" image_id="{{ painting.id }}" sort_id="image_{{ painting.id }}" style="background-image:url({{ url_for('instance.static', filename=painting.my_thumbnail_path_filename()) }});">
		{% if logged_in == true %}
		<div class='edit_painting_button button_div_1 close_dialogs' image_id={{ painting.id }}></div>
		<div class='delete_painting_button button_div_1 _close_dialogs' image_id={{ painting.id }}></div>
		{% else %}
		<div class="overlay">
		<a class=show_description_link image_id={{ painting.id }}>{{ painting.short_description }} <br /><br /> {{ painting.media }}</a>
	</div>
		{% endif %}
	</li>
{%- endmacro %}

{% macro edit_painting(painting, form) -%}
	<div class="edit_painting_div" image_id={{ painting.id }}>
	<form enctype=multipart/form-data>
		<div>{{ form.hidden_id(value=painting.id) }}
		<div>{{ form.title.label }} {{ form.title(value=painting.title) }}</div>
		<div>{{ form.media.label }} {{ form.media(value=painting.media) }}</div>
		<div>{{ form.short_description.label }} <textarea id="short_description" name="short_description">{{ painting.short_description }}</textarea></div>
		<div>{{ form.description.label }} <textarea id="description" name="description">{{ painting.description }}</textarea></div>
		<div>{{ form.filename.label }} {{ form.filename }}</div>
		<div><img src="{{ url_for('instance.static', filename=painting.my_thumbnail_path_filename()) }}" /></div>
		<div>{{ form.submit(class='edit_painting') }}</div>
	</div>
{%- endmacro %}

{% macro show_post(post, logged_in=false) -%}
	<div class=post_container post_id={{ post.id }} sort_id=post_{{ post.id }}>
		<li><h2>{{ post.title }}</h2>
		<p>{{ post.text }}</p>
		{% if logged_in == true %}
		<div class='edit_post_button button_div_1 close_dialogs' post_id={{ post.id }}></div>
		<div class='delete_post_button button_div_1 close_dialogs' post_id={{ post.id }}></div>
		{% endif %}
	</div>
{%- endmacro %}

{% macro edit_post(post, form) -%}
	<div class="edit_post_div" post_id={{ post.id }}>
	<form>
		<div>{{ form.hidden_id(value=post.id) }}
		<div>{{ form.title.label }} {{ form.title(value=post.title) }}</div>
		<div>{{ form.text.label }} {{ form.text(value=post.text) }}</div>
		<div>{{ form.submit(class='edit_post') }}</div>
	</div>
{%- endmacro %}
